.jumbotron.search_jumb
  .container
    .col-md-6
      %form{:role => "papermache/search?"}
        %input.form-control{:placeholder => "",name: 'search', :type => "text"}
        .buttons
          = button_tag 'Search Peers',name:'peer',value: 'true',type: 'submit', class: 'search_buttons '
          = button_tag 'Search Papers',name:'paper',value: 'true',type: 'submit', class: 'search_buttons'

    .row
      .container-fluid
        .col-md-2
          = link_to do
            Top
          = link_to do
            Hot
          = link_to do
            Most Viewed
          = link_to do
            Most Commented
          = link_to do
            Most Cited
        .col-md-10
          - if @account_data.present?
            .row
              - @account_data.each do |account|
                = link_to(account_path(id: account.id)) do
                  .col-md-3.col-sm-3
                    .avatar
                      = image_tag account.avatar
                    = account.full_name
                    %p
                      - account.majors.each do |major|
                        = major.name
          - elsif @paper_data.present?
            .row
              - @paper_data.each do |account|
                = link_to(papermache_paper_path(id: account.id)) do
                  .col-md-3.col-sm-3
                    = image_tag 'doc-icon.png'
                    %h6
                      Title: 
                      = account.title
                    %h6
                      Author: 
                      = account.account.full_name  
          - else
            No Records Found        

